.transaction-list {
    margin-top: 20px;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.transaction-item.income {
    color: green;
}
.transaction-item.expense {
    color: red;
}

.header-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-add {
    background-color: #28a745;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}